   
   <%= form_for @liste, html: { multipart: true } do |f| %>   
      <%= f.label :title %>   
      <%= f.text_field :title %>   
      <br><br>
      <%= f.label :category %>   
      <%= f.text_field :category %>   
      <br><br> 
      <%= f.label :price %>   
      <%= f.text_field :price %>   
      <br><br> 
      <%= f.label :year %>   
      <%= f.text_field :year %>   
      <br><br>    
      <%= f.label :attachment %>   
      <%= f.file_field :attachment %>   
      <br>   
      <%= f.submit "Save" %>   
   <% end %>   
</div>
    
</div> 

 